{% block body %}

<header>
    <nav>
        <div>
            <a href='{{ path('app_home') }}'>Home</a>
            <a href='{{ path('app_upload') }}'>Déposer un travail</a>
            <a href='{{ path('app_works') }}'>Voir vos travaux</a>
            <a href='{{ path('app_all_works') }}'>Voir tous les travaux</a>
            {#% if is_granted('ROLE_ADMIN') %#}
                <a href='{{ path('app_admin_create') }}'>ADMIN-Créer catégorie</a>
            {#% endif %#}
            <a href='{{ path('app_logout') }}'>Se déconnecter</a>
        </div>
    </nav>
</header>

{% endblock %}
