{% block body %}

<header>
    <nav>
        <div class="bg-dark row-12 d-flex justify-content-center">
            <a class="text-white text-decoration-none m-3 menu-hover" href='{{ path('app_home') }}'>Home</a>
            <a class="text-white text-decoration-none m-3 menu-hover" href='{{ path('app_upload') }}'>Déposer un travail</a>
            <a class="text-white text-decoration-none m-3 menu-hover" href='{{ path('app_works') }}'>Vos travaux</a>
            <a class="text-white text-decoration-none m-3 menu-hover" href='{{ path('app_all_works') }}'>Voir tous les travaux</a>
            <a class="text-white text-decoration-none m-3 menu-hover" href='{{ path('app_top') }}'>Top par catégories</a>
            {% if is_granted('ROLE_ADMIN') %}
                <a class="text-white text-decoration-none m-3 menu-hover" href='{{ path('app_admin_create') }}'>Créer catégorie</a>
                <a class="text-white text-decoration-none m-3 menu-hover" href='{{ path('app_admin_manage') }}'>Gestion rôles</a>
            {% endif %}
            <a class="text-white text-decoration-none m-3 menu-hover" href='{{ path('app_logout') }}'>Se déconnecter</a>
        </div>
    </nav>
</header>

{% endblock %}
